* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Generated third-party assets preserve upstream whitespace.
public/js/filament/** -whitespace
public/vendor/** -whitespace

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
